@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');dy, html


body, html{
margin: 0;
padding: 0;
font-family: "roboto condensed";


}

p, h1, h2, h3, h4, h5, h6, ul, li, a
{
    margin: 0;
    padding: 0;
    list-style: none;
}


.main-wrapper
{

    display: grid;
    grid-template-columns: 160px 170px auto 310px ;
    grid-template-rows:80px auto 60px;
    height: 100vh;

}



.logo-leftbar
{
    grid-row: 1/3;
    grid-column: 1;
    background: url(../images/background-blue.jpg) no-repeat center top;
    background-size: cover;
}




.sports-links 
{
    background: #020735;    
}

.betting-odds
{
    background: #EAEAEA;
}


.cricketbg
{
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    grid-gap: 20px;
    background: url(../images/background-blue.jpg) no-repeat center center;
    background-size: cover;
    padding:10px  20px 10px 20px;
}


.cricket-match-title
{
    background: url(../images/icon-red-star.svg) no-repeat left center;
    background-size: 38px;
    color: #fff;
    padding-left: 45px;
   
}

.cricket-match-title span
{
    color: greenyellow;
}

.cricket-match-title h3
{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.overs
{
    color: #fff;
}

.overs span
{
    color: greenyellow;
}

.overs h3
{
    font-size: 1.2rem;
    font-weight: bold;

    
}


.overs p
{
    font-size: 0.9rem;

}

.green-odds-title {
	background: #fff;
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	color: #08285B;
	padding: 6px 20px;
}

.green-odds-title>div {
	justify-self: center;
    align-self: center;
    font-size: 0.9rem;
}

.green-odds-title>div h3 {
	
	font-family: "roboto condensed";
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.whitematchtitle {
	background: #fff;
	padding: 5px 0;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.whitematchtitle>div:nth-child(2) {
	align-self: center;
	justify-self: center;
}

.whitematchtitle>div:nth-child(1) {
	align-self: start;
	justify-self: end;
}

.whitematchtitle>div:nth-child(3) {
	align-self: start;
	justify-self: start;
}

.whitematchtitle>div>h3 {
	margin: 0;
	padding: 0;
	font-family: "roboto condensed";
	color: #000;
	font-size: 1.2rem;
	font-weight: bold;
}

.whitematchtitle>div>p {
	color: #0D3323;
	text-align: center;
	font-size: 0.8rem;
	
}

.odds-greybg {
	background: #F4F4F4;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	padding: 0px 27px 15px 27px;
}

.oddbox {
	display: grid;
	grid-template-columns: 232px 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px;
}

.oddbox .blue-dark {
	grid-column: 3/5;
}

.oddbox .pink-dark {
	grid-column: 5/7;
}

.oddbox>div {
	border-right: none;
	border-collapse: collapse;
	text-align: center;
	align-self: end;
	justify-self: stretch;
	padding: 5px 0 2px 0;
}

.blue-dark {
	background: #63BAF2;
	border-radius: 30px 0 0 0;
}

.pink-dark {
	background: #FF9EB7;
	border-radius: 0px 30px 0 0;
}

.blue-dark h6,
.pink-dark h6 {
	font-family: "roboto condensed";
	font-weight: bold;
}

.whiteboxshadow {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #DBDBDB;
	-webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
	font-family: "roboto condensed";
	font-weight: bold;
}

.whiteboxshadow>div:not(:last-child) {
	border-bottom: 1px solid #AEAEAE;
}

.oddbox-content>div:nth-child(1)>div {
	padding-left: 20px;
}

.oddbox-content>div:nth-child(1)>div>h5 {
	background: url(../images/icon-graph.svg) no-repeat left center;
	background-size: 16px auto;
	padding-left: 25px;
	cursor: pointer;
}

.oddbox-content {
	display: grid;
	grid-template-columns: 232px 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px;
}

.whiteboxshadow>div:first-child>div:last-child {
	border-radius: 0 10px 0 0;
}

.whiteboxshadow>div:last-child>div:last-child {
	border-radius: 0 0 10px 0;
}

.oddbox-content>div {
	/* padding: 12px 5px; */
	display: grid;
	grid-template-columns: 1fr;
}

.oddbox-content>div>div {
	align-self: center;
	justify-items: center;
	margin: 0;
	padding: 0;
}

.oddbox-content h6, .oddbox-content h5
{
    font-weight: bold;
}

.oddbox-content h5,
.oddbox-content h6,
.oddbox-content p {
	margin: 0;
	padding: 0;
    font-family: "roboto condensed";
    font-size: 0.8rem;
}


.oddbox-content p
{
    font-weight: normal !important;
}

.oddbox-content h5 {
	font-size: 1rem;
}

.oddbox-content h6 {
	font-size: 0.85rem;
}

.oddbox-content>div:not(:nth-child(1)) {
	text-align: center;
	cursor: pointer;
}


.suspended-columns > div:nth-child(2)
{
	grid-column: 2/8;
}


.light-blue {
	background-color: #D4E8F5;
}

.medium-blue {
	background-color: #B2D5ED;
}

.dark-blue {
	background-color: #63BAF2;
}

.light-pink {
	background-color: #F9E4EA;
}

.medium-pink {
	background-color: #F4D0D8;
}

.dark-pink {
	background-color: #FF9EB7;
}

.dark-grey
{
	background:#D5D5D5;
}


.dark-pink-left-curve
{
	background-color: #FF9EB7;
	border-radius: 30px 0 0 0;
	font-weight: bold;
}

.dark-blue-right-curve
{
	background-color: #63BAF2;
	border-radius: 0px 30px 0 0;
	font-weight: bold;	
}


.dark-blue-right-curve h6, .dark-pink-left-curve h6
{
	font-weight:bold;
}


.greenarrow {
	background: url(../images/icon-green-arrow.svg) no-repeat left center;
	background-size: 10px auto;
	padding-left: 15px !important;
	color: #648F07;
	font-weight: bold;
}

.redarrow {
	background: url(../images/icon-red-arrow.svg) no-repeat left center;
	background-size: 10px auto;
	padding-left: 15px !important;
	color: #D01A2D;
	font-weight: bold;
}

.fancy-bet-heading {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px 20px;
}

.fancy-bet-heading>div:nth-child(2) {
	align-self: center;
	justify-self: center;
}

.fancy-bet-heading>div:nth-child(3) {
	align-self: center;
	justify-self: end;
}

.fancy-bet-heading h3 {
	font-family: "roboto condensed";
	font-size: 1.5rem;
	font-weight: bold;
	background: url(../images/icon-clock.svg) no-repeat left center;
	padding-left: 30px;
	background-size: 21px auto;
}

.oddbox2 {
	display: grid;
	grid-template-columns: 232px 1fr 1fr 1fr;
	grid-template-rows: 50px;
}

.oddbox2>div {
	border-right: none;
	border-collapse: collapse;
	text-align: center;
	align-self: end;
	justify-self: stretch;
	padding: 6px 0 4px 0;
}

.fancybetgrid {
	display: grid;
	grid-template-columns: 232px 1fr 1fr 1fr;
	grid-auto-rows:minmax(45px, auto) ;
}

.fancybetgrid>div {
	display: grid;
	grid-template-columns: 1fr;
	position: relative;;
}

.fancybetgrid>div>div {
	align-self: center;
	justify-self: center;
	

}



.fancybetgrid>div>div h6,
.fancybetgrid>div>div p {
	padding: 0;
	margin: 0;
	font-weight: bold;
    text-align: center;
    font-size: 0.9rem;

}

.fancybetgrid>div>div p
{
    font-weight: normal !important;
}


.fancybetgrid>div>div h6{ font-size: 0.9rem;}

.tabbedpanel {
    padding-top: 20px;
    
}

.tabsalign {
	display: block;
	height: 38px;
	;
}

.tabsalign>ul,
.tabsalign>ul li {
	display: inline-block;
}

.tabsalign>ul>li a {
	background: #020735 !important;
	width: 200px;
	font-weight: bold;
	color: #fff !important;
	
	border-radius: 0;
    border-bottom: none;
    text-transform: uppercase;
}


.tabsalign>ul>li .active {
    background: #1B1F42 !important;
	width: 200px;
	font-weight: bold;
	color: #fff !important;
	
	border-radius: 0;
    border-bottom: none;
    
}

.tab-content
{
    background: #1B1F42;
    padding: 20px;
}

.tabsalign {
	text-align: center;
}

.allthreeboxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.allthreeboxes>div:nth-child(3) {
	grid-column: 2;
	grid-row: 1/3;
}

.allthreeboxes>div {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	align-self: start;
}

.greentitle2 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background: #F31212;
	padding: 5px 15px 5px 5px;
	border-radius: 10px 10px 0 0;
}

.greentitle2 h3 {
	color: #fff;
	font-family: "roboto condensed";
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.greentitle2>div:nth-child(1) {
	padding-left: 20px;
	align-self: center !important;
	justify-self: start;
}

.greentitle2>div:nth-child(2) {
	align-self: start !important;
	justify-self: end;
}

.smallboxgrid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	position: relative;
}

.smallboxgrid-container>div:not(:last-child) {
	border-bottom: 1px solid #AEAEAE;
}

.smallboxesgrid {
	display: grid;
	grid-template-columns: 180px 1fr 1fr;
	grid-auto-rows: minmax(50px, auto);
}

.smallboxesgrid>div {
	display: grid;
	grid-template-columns: 1fr;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.smallboxesgrid>div:last-child {
	border: none;
}

.smallboxgrid-container>div:first-child {
	background: #EAEAEA;
	grid-template-rows: minmax(40px, auto);
}

.smallboxesgrid h5 {
	background: url(../images/icon-graph.svg) no-repeat left center;
	background-size: 16px auto;
	cursor: pointer;
	margin-left: 10px;
	padding-left: 25px;
	font-weight: bold;
	font-size: 0.9rem;
}

.smallboxesgrid>div>div {
	align-self: center;
	justify-self: center;
}

.smallboxesgrid>div:first-child>div {
	align-self: center;
	justify-self: start;
}

.smalltext {
	font-size: 0.7rem;
	text-align: center;
}

.smalltext span {
	background: #D01D2F;
	display: inline-block;
	padding: 2px 5px;
	color: #fff;
	border-radius: 2px;
	margin-left: 5px !important;
	cursor: pointer;
}

.smallboxgrid-container>div:last-child>div:last-child {
	border-radius: 0 0 10px 0;
}

.smallboxesgrid>div>div h6,
.smallboxesgrid>div>div p {
	padding: 0;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

.smallboxesgrid > div > div p
{
    font-weight: normal !important;
    font-size: 0.8rem;
}


.smallboxesgrid h6 {
	font-size: 0.86rem;
	padding: 0;
	margin: 0;
}

.redbutton {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 2px;
}

.redbutton a {
	background: #D01D2F;
	color: #fff !important;
	font-family: "roboto condensed";
	font-weight: bold;
	font-size: 0.8rem;
	padding: 5px 5px;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
}





.run-psl-table 
{
	background: #F6F6F6;
}

.run-psl-table > div 
{
	
	grid-column: 1/5;
	

}



.run-psl-table > div > div
{
	align-self: stretch !important;
	justify-self: stretch !important;
	border-bottom:none;
	border-bottom:1px solid #D9D9D9;
	
}

.run-psl-table > div > div:last-child
{
	border-bottom: none;
}


.run-psl-rows
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(30px, auto) !important;
	
	
}

.run-psl-rows > div 
{
	
	border-right:1px solid #D9D9D9;
	display: grid;
	grid-template-columns: 1fr;
	
}

.run-psl-rows > div:last-child
{
	
	border-right: none;
}




.run-psl-rows > div > div
{
	align-self: center;
	justify-self: center;
}



.suspended-fancy-bet > div:nth-child(2)
{
	grid-column: 2/5;
}


.suspended-checkeditem > div:nth-child(2)
{
	grid-column: 2/5;
	
}


.suspended-checkeditem .dark-grey 
{
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: 1fr;
	justify-self: stretch;
	align-self: stretch;
	border:1px solid rgba(0,0,0,0.2);
}


.suspended-checkeditem .dark-grey > div
{
	align-self: center;
	justify-self: center;
}


.modal-buttons{padding: 0 50px;}

.modal
{
	font-family: "roboto condensed";
	border:none;
}


.modal-content
{
	
}


.modal-header
{
	background: #2A6334;
	color: #fff;
	
}

.btn{font-family: "roboto condensed";}

.btn-primary
{
	background:#63883E;
	border:none;
}


.btn-primary:hover
{
	background: #2A6334;
}



.btn-danger
{
	background:#D01D2F;
	border:none;
}


.btn-danger:hover
{
	background: #B91828;
}


.close{color: #fff;}










.placebid-section
{
    background: #fff;
}



.greentitle3 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-auto-rows: minmax(40px, auto);
	background: #F31212;
	padding: 0 10px;
}

.greentitle3 h3 {
	color: #fff;
	font-family: "roboto condensed";
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.greentitle3>div:nth-child(1) {
	align-self: center !important;
	justify-self: start;
}

.greentitle3>div:nth-child(2) {
	align-self: center !important;
	justify-self: end;
}


.betfor 
{
    background: #020735;
    
    display: grid;
    grid-template-columns:150px 1fr 1fr 1fr;
    grid-auto-rows: minmax(32px, auto);
    font-family: "roboto condensed";
    font-size:0.9rem;
	font-weight: bold;
	color: #fff;


}


.betfor > div:not(first-child)
{
    align-self: center;
    justify-self: center;
}


.betfor > div:first-child
{
    padding-left: 10px;
    justify-self: start;

}

.unchecked-item
{
    background:#EAEAEA;
    padding: 10px 10px;
    
}

.unchecked-item h6
{
    font-family: "roboto condensed";
    font-size:0.8rem;
    font-weight: bold;
    
}


.checkeditem
{
    
    display: grid;
    grid-template-columns:120px 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    color: #000;
    grid-gap: 5px;
    font-family: "roboto condensed";
    font-weight: bold;
    font-size: .8rem;
    padding: 5px 5px;
}

.checkeditem > div:not(first-child)
{
    align-self: center;
    justify-self: center;
}

.checkeditem > div:first-child
{
    padding-left: 10px;
    justify-self: start;
}

.liability
{
    font-weight: bold;
    font-size: .9rem;
    font-family: "roboto condensed";
    line-height: 30px;
    text-align: right;
    padding: 10px 20px;
}


.betbuttons
{

    display: block;
	text-align: center;
	padding-bottom:7px;
}


.betbuttons a
{
    display:inline-block;
    padding: 4px 0;
    width: 80px;
    margin:0 5px;
    color: #fff;
    font-family: "roboto condensed";
	font-weight: bold;
	font-size: 0.8rem;
    border-radius: 5px;

}



.checked-odd-even 
{
	padding-bottom: 30px;
}





.checkeditem1
{
    
    display: grid;
    grid-template-columns:120px 1fr 1fr 1fr;
    grid-auto-rows: minmax(35px, auto);
    color: #000;
    font-family: "roboto condensed";
    font-weight: bold;
    font-size: .8rem;
    padding: 5px 0px;
    grid-gap:10px;
}

.checkeditem1 > div:not(first-child)
{
    align-self: center;
    justify-self: center;
}

.checkeditem1 > div:first-child
{
    padding-left: 10px;
    justify-self: start;
}

.checkeditem1  input, .checkeditem  input
{
    font-size: 0.7rem;
    padding: 5px 5px;
    margin: 0;
}


.checkeditem1 p
{
	font-weight: normal;
}

.closebutton
{
	display: inline-block;
	width: 12px;
	background: url(../images/closebutton.svg) no-repeat center center;
	background-size: 12px auto;
	
	

}
.closebutton:hover
{
	color: #fff;
	text-decoration:none;
}

.small-back-button
{
	background:#63BAF2;
	display: inline-block;
	*display:inline;
	zoom:1;
	padding:1px 8px;
	color: #000;
	font-size: .8rem;
	border-radius: 4px;
	
}


.small-lay-button
{
	background:#FF9EB7;
	display: inline-block;
	*display:inline;
	zoom:1;
	padding:1px 8px;
	color: #000;
	font-size: .8rem;
	border-radius: 4px;
	
}

.small-lay-button:hover, .small-back-button:hover
{
	text-decoration:none;
	color: #000;
	
}



/* Add position:relative to the parent div to use ladder icon */

.ladder-black
{
	background: url(../images/icon-ladder.svg) no-repeat center center;
	display: block;
	height:15px;
	width: 9px;
	position: absolute;
	z-index: 9999;
	top:calc(50% - 8px);
	right:10px;
}


.ladder-grey
{
	background: url(../images/icon-ladder-light.svg) no-repeat center center;
	display: block;
	height:15px;
	width: 9px;
	position: absolute;
	z-index: 9999;
	top:calc(50% - 8px);
	right:10px;
}



.blue-button
{
    background: #020735;

}


.red-button
{
    background: #D01D2F;
}


.grey-button
{
	background:#808080;
}




.footer
{
    
    grid-row: 3;
    grid-column: 1/5;
    background: url(../images/background-red.jpg) no-repeat center bottom;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    
}

.footer > div
{
    justify-self: center;
    align-self: center;
}

.logo
{
    width: 132px;
    margin: auto;
    padding: 20px 0;

}

.search-option
{
    width: 140px;
    margin:20px auto;
}

.links
{
    width: 130px;
    margin:20px auto;
}

.links li a
{
    line-height: 2rem;
    display: block;
    color: #fff;
    font-weight: bold;
    margin: 1em 0;
    border-radius: 5px;
    padding-left:10px;
    transition: all 0.2s ease-in;
    
}


.links li a:hover, .links li .active
{
 line-height: 2rem;
 margin: 1em 0;
 text-decoration: none;
 background-image: linear-gradient(#868686, #fff, #868686);
 border: 1px solid #000;
 color: #000;   
 
}


.search-option input, .search-option input:focus
{
    background:url(../images/icon-search.svg) calc(100% - 10px) center #020735;
    background-repeat: no-repeat;
    background-size: 15px;
    border:1px solid #111F9C;
    color: #fff;
    padding-right:30px;
}




.top-sports
{
grid-column: 2/5;
grid-row: 1;
background: url(../images/background-red.jpg) no-repeat center center;
background-size: cover;
display: grid;
grid-template-columns: auto 310px;
}

.sports-menu
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;

}


.sports-menu > div 
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(30px, auto);
    border-right: 1px solid rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all .5s;
    
    
}

.sports-menu .active,  .sports-menu > div:hover
{
    background: rgba(0,0,0,0.5);
}

.sports-menu > div > div 
{
    justify-self: center;
    align-self: center;
    
  
}



.sports-menu > div > div  h6
{
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
	padding-bottom:10px;
	text-align: center;
    
}

.user-menu
{
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;

}


.user-menu  > div 
{
    justify-self: center;
    align-self: center;
}

.user-menu  > div  h6
{
    font-size: 0.9rem;
    font-weight: bold;
}

.user-menu  > div  span
{
    color: #fff;
    font-weight: bold;
}

.user-menu .btn-light
{
    background-image: linear-gradient(#868686, #fff, #868686);
 border: 1px solid #000;
}

.sports-links h3
{
    line-height: 3rem;
    background: #F31212;
    padding-left:10px;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;

}



.sports-links h4
{
    
    background: #7E0A17;
    padding-left:10px;
    font-size: 0.7rem;
    color: #fff;
    font-weight: bold;
    line-height: 2.5rem;
    text-transform: uppercase;

}


.cricket-links  li a 
{
    display: block;
    padding-left: 10px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.cricket-links li a:hover, .cricket-links .active
{
    background: #0B167B;
    text-decoration: none;

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.dark-red-text{ color:#B51929;}

.text-message{ font-family:"roboto condensed"; font-size:0.8rem; font-weight: bold; padding:10px 0 5px 0;}



.internal-wrapper
{
	
	display: grid;
	grid-template-columns:180px auto;
	grid-template-rows: 80px 60px auto 80px;
	height:100vh;

}

.internal-wrapper > div
{
	
}

.int-logo-links
{
	grid-column: 1;
	grid-row: 1/4;
	background: url(../images/background-blue.jpg) no-repeat right top;
    background-size: cover;
}

.top-menu-sports
{
	grid-row: 1;
	grid-column: 2 / 3;
	

background: url(../images/background-red.jpg) no-repeat center center;
background-size: cover;
display: grid;
grid-template-columns: auto 310px;
}

.blue-int-menu
{
grid-row: 2;
grid-column: 2/3;
background: url(../images/background-blue.jpg) no-repeat center top;
background-size: cover;
}

.statement-section
{
	grid-row: 3;
	grid-column: 2/3;
	
}

.int-footer
{
	grid-row: 4;
	grid-column: 1/3;
	background: url(../images/background-red.jpg) no-repeat center bottom;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

.int-footer > div
{
	align-self: center;
	justify-self: center;
}


.int-account-links 
{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: minmax(60px, auto);
	grid-gap: 20px;
	width: 800px
	
}

.int-account-links  > div 
{
	
	align-self:center;
	justify-self: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}


.page-title h2
{
    font-family: "roboto condensed";
    font-size: 1.2rem;
    color:#1A3042;
    font-weight: bold;
    line-height: 30px;

}


.filter-options
{
    display: grid;
    grid-template-columns: 10fr 1fr;

}



.filter-options .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
{
background-color: #020735;
border: none;
}


.filter-options .btn-secondary
{
    background-color:#F31212 ;
    border:none;
    width: 120px;
}

.filter-options .form-group
{
    margin-right: 15px;
}

.match a
{
    padding: 0 10px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #213E55;
}



.match .active
{
    color: #D32229;
    text-decoration: underline;
}

.datediv span
{
    font-weight: bold;
    color: #1A3042;
}

.datediv a
{
    color: #1A3042;
    text-decoration: underline;
}

.refresh-icon a
{
    width: 45px;
    display:inline-block;
    text-align:center;
    background: #F31212;
    padding: 6px 0;
    border-radius: 5px;
    
}

.refresh-icon
{
    align-self: end;
    justify-self: end;
}

.mybets-table
{
    padding-top:15px;
    padding-bottom:15px;
}




.mybetstableheadings 
{

    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr ;
    grid-auto-rows: 50px;
    
}

.mybetstableheadings > div
{
    display:grid;
    grid-template-columns: 1fr;
}

.mybetstableheadings > div:nth-child(odd)
{
    background: #F31212;
    color: #fff;
    font-weight: bold;
}



.mybetstableheadings > div:nth-child(even)
{
    background: #7E0A17;
    color: #fff;
    font-weight: bold;
}


.mybetstableheadings > div > div
{
    align-self: center;
    justify-self: center;
}


.mybetstableheadings > div:nth-child(2) > div:nth-child(1)
{
    align-self: center ;
    justify-self: start ;
    
    padding-left: 20px;
}

.grid-table-content 
{

    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr ;
    grid-auto-rows:minmax(70px, auto);
    border-bottom: 1px solid #D6D6D6;
    
    
    
}

.grid-table-content > div
{
    display:grid;
    grid-template-columns: 1fr;
}

.grid-table-content > div:nth-child(odd)
{
    background: #EEEEEE;
    color: #0D3323;
    font-weight: bold;
    transition: all 1s ease;
}



.grid-table-content > div:nth-child(even)
{
    background: #fff;
    color: #0D3323;
    font-weight: bold;
    transition: all 1s ease;
}


.grid-table-content > div > div
{
    align-self: center;
    justify-self: center;
    
}

.grid-table-content h6
{
    font-weight: bold;
    font-size: 1rem;
    color: #213E55;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    line-height: 1.3rem;
}

.grid-table-content p
{
    font-family: "roboto";
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1rem;
}

.grid-table-content p span
{
    color: #D7393F;
    font-weight: bold;
    font-size: 0.8rem;
}


.grid-table-content > div:nth-child(2) > div:nth-child(1)
{
    align-self: center ;
    justify-self: start ;    
    padding-left: 20px;
    font-weight: normal;
}

.inplaybutton
{
    background:#020735;
    border-radius: 5px;
    padding: 5px 20px;
    color: #fff;
    transition: all 2s ease;
}


.inplaybutton:hover
{
    text-decoration: none;
    color: #fff;
    background: #0D3323;
}

.red-text
{
    color: #EA1D00 !important;
}


.green-text
{
    color: #1C862E !important;
}



.dark-red-text{ color:#B51929;}

.text-message{ font-family:"roboto condensed"; font-size:0.8rem; font-weight: bold; padding:10px 0 5px 0;}


.red-background
{
	background-color: #EA1D00 !important;
}

.whitedropshadow
{
	-webkit-box-shadow: 1px 11px 22px -12px rgba(0,0,0,0.50);
-moz-box-shadow: 1px 11px 22px -12px rgba(0,0,0,0.50);
box-shadow: 1px 11px 22px -12px rgba(0,0,0,0.50);
}




.login-page-wrapper
{
	display: grid;
	grid-template-columns: 180px 590px 1fr;
	grid-template-rows: 80px auto 80px;
	height: 100vh;

}



.login-page-wrapper .login-left-links
{

  grid-column: 1;
  grid-row: 1/3;
  background: url(../images/background-blue.jpg) no-repeat center center;
  background-size: cover;

}


.login-page-wrapper .login-top-sports
{
	grid-column:2/5;
	grid-row: 1;
	background: url(../images/background-red.jpg) no-repeat center center;
	background-size: cover;
}


.login-page-wrapper .login-banner
{
	grid-column:2;
	grid-row: 2;
	
	position: relative;
}


.login-page-wrapper .login-form
{
	grid-column:3;
	grid-row: 2;
	background: url(../images/background-blue.jpg) no-repeat center center;
	background-size: cover;
}

.login-top-sports .sports-menu
{
	grid-auto-rows: minmax(80px, auto);
}




.crossfade > figure {
	animation: imageAnimation 30s linear infinite 0s;
	backface-visibility: hidden;
	background-size: cover;
	background-position: center center;
	color: transparent;
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
  }
  
  .crossfade > figure:nth-child(1) {
	background-image: url('../images/sports1.jpg');
  }
  .crossfade > figure:nth-child(2) {
	animation-delay: 6s;
	background-image: url('../images/sports2.jpg');
  }
  .crossfade > figure:nth-child(3) {
	animation-delay: 12s;
	background-image: url('../images/sports3.jpg');
  }
  .crossfade > figure:nth-child(4) {
	animation-delay: 18s;
	background-image: url('../images/sports4.jpg');
  }
  .crossfade > figure:nth-child(5) {
	animation-delay: 24s;
	background-image: url('../images/sports5.jpg');
  }
  
  @keyframes imageAnimation {
	0% {
	  animation-timing-function: ease-in;
	  opacity: 0;
	}
	8% {
	  animation-timing-function: ease-out;
	  opacity: 1;
	}
	17% {
	  opacity: 1
	}
	25% {
	  opacity: 0
	}
	100% {
	  opacity: 0
	}
  }
  



  

.green-formbg
{
	width: 70%;
	
	margin:auto;
	padding:50px 0;
}

.green-formbg > div
{

	align-self: center;
	justify-self: center;

}



.home-signup h5
{
	font-weight: bold;
	color: #ADD487;
	font-size: 1rem;
}

.home-signup .btn-success, .home-login .btn-success
{
	background: #84A341;
		border: none;
		font-family: "roboto condensed";
		font-weight: bold;
		font-size: 1rem;
}

.form-width
{
	
	
}


.input-group input, .input-group input:focus
{
	background: transparent;
	border: none;
}


.input-group 
{
	background: #fff;
	border-radius: 5px;
	
	
}

.input-group  .fa{color: #F31212; margin-left:8px;}

.input-group > div:nth-child(1)
{
	align-self: start;
	justify-content: start;
}


.type1 > div:nth-child(2)
{
	
	width:calc(100% - 40px);
}


.type2 > div:nth-child(1)
{
	
	width:calc(100% - 80px);
}




.form-width form > div:nth-child(3) .input-group
{
	grid-template-columns: auto 80px ;
	background: #fff;
}

.form-width form > div:nth-child(3) .input-group > div:nth-child(2)
{
	justify-self:center;
	align-self: center;
	
}


.home-signup > div:nth-child(1)
{
	border-bottom: 1px solid rgba(132, 163, 65, 0.2);
	padding-bottom:20px;
}

.home-signup > div:nth-child(2)
{
	padding-top:20px;
}

.home-signup > div:nth-child(2) h5
{
	padding-top:20px;
}

.whatapp{color: #fff; text-align:center; padding-top:20px; }

.whatapp h5
{
	padding-top:10px;
}